.hover-icon-container {
  position: absolute;
  top: 37%;
  left: 47%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 99999;
}

ytd-rich-item-renderer #thumbnail:hover .hover-icon-container {
  opacity: 1;
}

.hover-icon-container #hover-icon {
  transition: opacity 0.2s ease-in-out;
  padding: 5px;
  border-radius: 50%;
  background-color: black;
}

#hover-icon:hover {
  cursor: pointer;
  opacity: 1;
}
